.input-wrapper{

    .label{
        font-size: 16px;
        color: #2d2d2d;
        margin: 0px;
    }

    .input {
        border: 1px solid grey;
        border-radius: 8px;
        width: 100%;
        outline: none;
        padding: 12px;
        box-sizing: border-box;
    }
}